h1 {
    color: black;
    font-family: verdana, sans-serif;
    font-size: 100%;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: verdana, sans-serif;
    font-size: 100%;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}